/*------------------------------------------------------------------
[Main Stylesheet]

Project:  ProcessMaker I/O Examples
Version:  1.0
Last changes:  21/07/2017 [ Fixing same column heiht bug]
Assigned to:  Alejandro Serna / Luis Suarez
-------------------------------------------------------------------*/

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #595959;
  font-family: 'Montserrat';
  font-size: 13px;
}


/* --------------------
*     Main menu
* --------------------- */

nav.navbar {
  border-top: none;
  border-bottom: none;
  z-index: 1;
}

nav.navbar-default .navbar-nav>li>a.login-btn,
nav.navbar-default .navbar-nav>li>a.login-btn:visited {
  background-color: #3397e1;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
}

nav.navbar-default .navbar-nav>li>a.login-btn:hover {
  background-color: #3087c7;
  color: #ffffff;
}

nav.navbar-default .navbar-nav>li>a.sign-btn,
nav.navbar-default .navbar-nav>li>a.sign-btn:visited {
  background-color: #1fbc99;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
}

nav.navbar-default .navbar-nav>li>a.sign-btn:hover {
  background-color: #0b9778;
  color: #ffffff;
}

/* * * Main Menu * * */

nav.navbar-default {
  background-color: #fdfdfd;
  border-color: #f1f1f1;
}

nav.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #e0e0e0;
}

a.navbar-brand {
  padding: 2px 0px;
}

nav.navbar>.container-fluid .navbar-brand {
  margin-left: -5px;
}

nav.navbar>.container-fluid .navbar-brand img {
  width: 220px;
}

ul.navbar-right {
  margin-right: -30px;
}

nav.navbar-default .navbar-nav>li>a {
  color: #7c7c7c;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover {
  color: #3397E1;
  text-decoration: underline;
}

nav.navbar-default .navbar-nav>.active>a,
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover {
  background-color: #fdfdfd;
  color: #3397E1;
  text-decoration: underline;
}

/* * * Dropdowns * * */

nav.navbar-default .navbar-nav>li.dropdown>a.dropdown-toggle {
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #000101;
  border-left: 1px solid #f1f1f1;
}

nav.navbar-default .navbar-nav>li.dropdown>ul.dropdown-menu {
  width: 100%;
  border-radius: 0;
}

li.dropdown>a.dropdown-toggle>img {
  width: 35px;
  height: 35px;
  height: auto;
  margin-right: 8px;
  border-radius: 5px;
}

.navbar-nav>li.dropdown>ul.dropdown-menu li a img {
  width: 25px;
  border-radius: 3px;
  margin-right: 4px;
}

/* -----------------------
*    Buttons
* ------------------------ */

button.btn--action,
a.btn--action {
  padding: 6px 15px;
  background-color: #1fbc99;
  border: 1px solid #0b9778;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

button.btn--action:hover,
a.btn--action:hover {
  background-color: #0b9778;
  color: #ffffff;
}

button.btn--flat,
a.btn--flat {
  padding: 6px 15px;
  background-color: #f7f7f7;
  border: 1px solid #3087c7;
  border-radius: 2px;
  color: #3087c7;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

button.btn--flat:hover,
a.btn--flat:hover {
  background-color: #3087c7;
  color: #fff;
}

/* -----------------------
*     Same column height
* ------------------------ */

/*.is-flex,
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.is-flex > .col-flex,
.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -webkit-flex-direction: row;
  -ms-flex-direction: column;
  flex-direction: column;
}*/

/* --------------------
*     Submenu
* --------------------- */

nav.examples__submenu.navbar {
  min-height: 43px;
  border-radius: 0;
}

nav.examples__submenu .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* --------------------
*     Sidebar
* --------------------- */

div.examples__sidebar {
  padding-right: 0;
  padding-left: 0;
  *background-color: #2979b4;
  background-color: #f0f0f0;
  border-right: 1px solid #c3c3c3;
}

div.examples__sidebar .nav-pills > li.active,
div.examples__sidebar .nav-stacked > li {
  *border-bottom: 1px solid #2c6d9c;
  border-bottom: 1px solid #c3c3c3;
  margin-top: 0;
}

div.examples__sidebar .nav-pills > li.active > a,
div.examples__sidebar .nav-pills > li.active > a:focus,
div.examples__sidebar .nav-pills > li.active > a:hover {
  background-color: #d4d4d4;
  color: #191919;
}

div.examples__sidebar .nav-pills > li > a {
  color: #191919;
  background-color: #ffffff;
  border-radius: 0;
  display: flex;
}

div.examples__sidebar .nav-pills > li > a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
}

div.examples__sidebar .nav > li > a:focus,
div.examples__sidebar .nav > li > a:hover {
  text-decoration: none;
  *background-color: #2b6590;
  background-color: #d4d4d4;
}

/* -----------------------
*     Examples content
* ------------------------ */

div.examples__content-wrapper {
  height: 700px;
  min-height: 700px;
  background-color: #5b7080;
}

div.examples__main-content {
  background-color: #f0f0f0;
  padding: 30px;
  height: 100%;
  margin-right: 25px;
}

div.examples__main-content h5 {
  font-weight: bold;
  color: #3e4c57;
}

div.examples__main-content__icons {
  margin-bottom: 10px;
}

div.examples__main-content__icons .fa {
  font-size: 2rem;
  color: #a0a0a0;
  margin-right: 10px;
}

div.examples__main-content__icons a {
  color: #52ace7;
}

div.examples__main-content .btn--flat,
div.examples__main-content .btn--action {
  float: right;
}

div.examples__main-content .panel {
  border-radius: 2px;
}

div.examples__main-content .panel-heading {
  background-color: #ffffff;
  border-color: #cccccc;
}

div.examples__main-content .panel-title {
  font-size: 1.5rem;
}

div.examples__main-content .panel-body {
  font-size: 1.2rem;
}

div.examples__main-content .panel-body textarea {
  width: 100%;
  border: none;
  padding: 10px;
}

/* Examples Import */

div.examples__content-import .panel-body .btn--flat {
  float: none;
  margin-right: 15px;
}

/* Examples form */

form.examples__content__form {
  height: 100%;
}

form.examples__content__form .form-group {
  margin-bottom: 10px;
  margin-right: 6px;
}

form.examples__content__form textarea.form-control {
  width: 100%;
  min-height: 150px;
  margin-bottom: 15px;
}

/* -----------------------
*     Examples content
*         sidebar
* ------------------------ */

div.examples__sidebar-content {
  padding: 20px;
  background-color: #165380;
  border-left: 1px solid #1b5d8d;
  z-index: 250;
  transition: transform 275ms cubic-bezier(.5,.08,0,1);
}

div.examples__sidebar-content.examples__sidebar-content--visible {
  display: none;
  -webkit-transform: translate(0);
  transform: translate(0);
}

div.examples__sidebar-content.examples__sidebar-content--hidden {
  -webkit-transform: translate(100%);
  transform: translate(100%);
}

div.examples__sidebar-content .panel {
  border-radius: 2px;
  border-color: #cccccc;
}

div.examples__sidebar-content .panel-heading {
  background-color: #ffffff;
  border-color: #cccccc;
}

div.examples__sidebar-content .panel-title {
  font-size: 1.4rem;
}

i.examples__sidebar-content__footer {
  position: absolute;
  right: 0;
  top: 0;
  left: -50px;
  padding-top: 1px;
  padding-left: 8px;
  padding-bottom: 2px;
  text-align: left;
  color: #d4d4d4;
  background-color: #165380;
  font-size: 1.2rem;
  cursor: pointer;
  font-style: normal;
}

/*==========  Menu off canvas  ==========*/

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 25px 0 25px 25px;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#site-menu {
  width: 300px;
  height: 150%;
  position: absolute;
  top: -24px;
  right: -300px;
}

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  nav.navbar>.container-fluid .navbar-brand {
    margin-left: 5px;
  }

  div.examples__main-content {
    padding: 20px 15px;
    margin-right: 15px;
  }

  #site-wrapper {
    padding: 25px 0 15px 15px;
  }

  #site-menu {
    width: 250px;
    right: -250px;
  }

  #site-wrapper.show-nav #site-canvas {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  div.examples__sidebar .nav>li>a {
    padding: 10px 10px;
  }

  nav.navbar>.container-fluid .navbar-brand {
    margin-left: -5px;
  }

  div.examples__main-content {
    padding: 30px;
    margin-right: 25px;
  }

  #site-wrapper {
    padding: 25px 0 25px 25px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  div.examples__sidebar .nav>li>a {
    padding: 10px 15px;
  }

  .examples__submenu .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
  }

  #site-menu {
    width: 300px;
    right: -300px;
  }

  #site-wrapper.show-nav #site-canvas {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
